@import "colors";

/* *
 * Indicaciones inferiores 
 * */
em.cf-field__help {
    font-weight: 600;
    color: #000;
    font-size: 11px;
    font-style: normal;
    margin-left: 27px;
    position: relative;

    &::before {
        content: "\f223";
        font-family: dashicons;
        font-size: 23px;
        font-weight: 100;
        display: inline-block;
        vertical-align: middle;
        color: $color_alerta;
        position: absolute;
        top: -8px;
        left: -30px;
    }
}
